.skill {
    background-color: var(--bg-color);
    width: 100%;
    height: calc(100vh - var(--header-height));
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
    padding: 0 3rem;
}

.container-divition-skill {
    width: 8%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: var(--color-gray);
}

.container-divition-skill h4 {
    color: var(--color-gray);
    rotate: -90deg;
}

.linear-skill {
    width: 0.2rem;
    height: 30%;
    background-color: var(--color-gray)
}

.container-info-skill {
    width: 42%;
    height: 80%;
    color: var(--color-gray);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 1rem;
}

.container-info-skill h2 {
    font-size: 2rem;
    font-weight: 500;
    padding-bottom: 2rem;
}

.container-list-skill ul {
    column-count: 3;
    column-gap: 5rem;
    list-style-type: disc;
    padding-left: 2rem;
}

.container-list-skill li {
    break-inside: avoid;
    margin-bottom: 0.5rem;
}

.container-chekbox-skill {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: var(--bg-color);
    padding: 0.5rem;
    border-radius: 1.5rem;
    box-shadow: 0 0 0.4rem 0 var(--color-primary);
}

.btn-skill {
    border: none;
    background-color: var(--bg-color);
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 1rem;
    width: 8rem;
    color: var(--color-white);
}

.btn-skill:hover,
.btn-skill.btn-active {
    background-color: var(--color-primary);
    color: var(--color-black);
}

.container-images-skill {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 50%;
    height: 80%;
}

.container-img-skill-info {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    border-radius: 0.5rem;
    background-color: var(--bg-color);
    cursor: pointer;
    border: solid 1px var(--color-primary);
}

.container-img-skill-info img {
    width: 80%;
    height: 80%;
    object-fit: cover;
    object-position: center;
}

.container-img-skill-info:has(img[src*="python.svg"]):hover {
    box-shadow: 0 4px 20px #a9ab37;
    border: solid 1px #a9ab37;
}

.container-img-skill-info:has(img[src*="django.svg"]):hover {
    box-shadow: 0 4px 20px #187450;
    border: solid 1px #187450;
}

.container-img-skill-info:has(img[src*="flask.svg"]):hover {
    box-shadow: 0 4px 20px #bcebd9;
    border: solid 1px #bcebd9;
}

.container-img-skill-info:has(img[src*="html.svg"]):hover {
    box-shadow: 0 4px 20px #E34F26;
    border: solid 1px #E34F26;
}

.container-img-skill-info:has(img[src*="css.svg"]):hover {
    box-shadow: 0 4px 20px #1572B6;
    border: solid 1px #1572B6;
}

.container-img-skill-info:has(img[src*="javascript.svg"]):hover {
    box-shadow: 0 4px 20px #F7DF1E;
    border: solid 1px #F7DF1E;
}

.container-img-skill-info:has(img[src*="angular.svg"]):hover {
    box-shadow: 0 4px 20px #DD1B16;
    border: solid 1px #DD1B16;
}

.container-img-skill-info:has(img[src*="react.svg"]):hover {
    box-shadow: 0 4px 20px #61DAFB;
    border: solid 1px #61DAFB;
}

.container-img-skill-info:has(img[src*="postgresql.svg"]):hover {
    box-shadow: 0 4px 20px #336791;
    border: solid 1px #336791;
}

.container-img-skill-info:has(img[src*="mysql.svg"]):hover {
    box-shadow: 0 4px 20px #0A7E61;
    border: solid 1px #0A7E61;
}

.container-img-skill-info:has(img[src*="mongo.svg"]):hover {
    box-shadow: 0 4px 20px #0A7E61;
    border: solid 1px #0A7E61;
}

.container-img-skill-info:has(img[src*="docker.svg"]):hover {
    box-shadow: 0 4px 20px #1572B6;
    border: solid 1px #1572B6;
}

.container-img-skill-info:has(img[src*="kubernetes.svg"]):hover {
    box-shadow: 0 4px 20px #0A7E61;
    border: solid 1px #0A7E61;
}

.container-img-skill-info:has(img[src*="java.svg"]):hover {
    box-shadow: 0 4px 20px #9e231f;
    border: solid 1px #9e231f;
}

.container-img-skill-info:has(img[src*="springboot.svg"]):hover {
    box-shadow: 0 4px 20px #0A7E61;
    border: solid 1px #0A7E61;
}

.container-img-skill-info:has(img[src*="sass.svg"]):hover {
    box-shadow: 0 4px 20px #CC6699;
    border: solid 1px #CC6699;
}

.container-img-skill-info:has(img[src*="linux.svg"]):hover {
    box-shadow: 0 4px 20px #FCC624;
    border: solid 1px #FCC624;
}

.container-img-skill-info:has(img[src*="git.svg"]):hover {
    box-shadow: 0 4px 20px #F05032;
    border: solid 1px #F05032;
}

.container-img-skill-info:has(img[src*="github.svg"]):hover {
    box-shadow: 0 4px 20px #3e2d8d; 
    border: solid 1px #3e2d8d;
}